@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    border: 1px solid black;
    list-style: none;
    font-family: 'Roboto', sans-serif;
}

.wrapper {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: auto 4fr;
    grid-template-areas:
      "navbar header header header"
      "navbar main main main"
      "navbar main main main"
      "navbar main main main"
}

/* header */
.header {
    grid-area: header;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/* nav bar */
.nav-bar {
    grid-area: navbar;
    display: grid;
    grid-template-rows: auto 4fr 4fr;
    background-color: #0ea5e9;
    color: #fff;
}

.logo {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
}

.logo > img {
    height: 3rem;
    filter: invert();
}

.nav > ul,
.options > ul {
    padding: 0;
}

.nav > ul > li,
.options > ul > li {
    display: flex;
    font-weight: bolder;
    padding: 1rem;
    gap: 1rem;
}

li > img {
    filter: invert();
    height: 1.5rem;
    padding-left: .5rem;
}

/* main */
.main-content {
    grid-area: main;
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.projects {
    grid-area: span 2;
    display: grid;
    grid-template: auto repeat(3, 1fr) / 1fr 1fr;
    gap: 2rem;
    padding: 2rem;
}

.projects > div {
    border-radius: 10px;
    display: grid;
    padding: 1rem;
    grid-template-rows: auto 1fr auto;
}

.projects div[class="icons"] {
    display: flex;
    justify-content: flex-end;
    gap: 1.5rem;
    flex-basis: auto;
}

.projects div[class="icons"] > img {
    height: 1.5rem;
}

.projects h2 {
    grid-column: span 2;
    align-self: end;
}