@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    border: 1px solid black;
    list-style: none;
    font-family: 'Roboto', sans-serif;
}

.wrapper {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: auto 4fr;
    grid-template-areas:
      "navbar header header header"
      "navbar main main main"
      "navbar main main main"
      "navbar main main main"
}

.header {
    grid-area: header;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.nav-bar {
    grid-area: navbar;
    display: grid;
    grid-template-rows: auto 4fr 4fr;
    background-color: #0ea5e9;
    color: #fff;
}

.logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
}

.logo > img {
    height: 3rem;
    filter: invert();
}

.nav > ul,
.options > ul {
    padding: 0;
}

.nav > ul > li,
.options > ul > li {
    display: flex;
    font-weight: bolder;
    padding: .75rem;
    gap: 1rem;
}

li > img {
    filter: invert();
    height: 1rem;
}

.main-content {
    grid-area: main;
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.projects {
    grid-area: span 2;
}